**/node_modules
fish/fish_variables
**/*.log
dconf
configstore
menus
google-chrome
mimeapps.list
pulse
github-copilot
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
enchant/
evolution/
gh/
gnome-initial-setup-done
gtk-3.0/
ibus-mozc-gnome-initial-setup-done
ibus/
mozc/
tiling-assistant/
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
obsidian
**/*.copy
env.sh
fish-ai.ini
JetBrains
nvim/lazy-lock.json
fish/conf.d/uv.env.fish
gcloud/
go/
prompt-draft.txt
specs/
uv/
bk
git
Google
