chromium
dconf
enchant
fcitx
geany
gpicview
gtk-3.0
libfm
lxpanel
lxsession
lxterminal
mozc
pcmanfm
pipewire-media-session
procps
pulse
user-dirs.dirs
user-dirs.locale
xarchiver
QtProject.conf
mimeapps.list
qt5ct
vlc
